<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPIT-490/632: Lab 6</title>
</head>

<body>
    <h1>Welcome to the Sample Static Page</h1>
    <h2>Hostname: {{ hostname }}</h2>
    <h3>{{ ts }}</h3>
</body>

</html>